*~
*#

# /
autom4te.cache*
config.status
Makefile
build_echam6.sh

# /config/
/config/config.*
/config/stamp-h1
config.*

# /contrib/
/contrib/generate-scripts/*thunder*

# /src/
/src/*.mod
/src/*.lst

# /experiments/
/my_experiments/

# binaries
/bin
/lib/*.a
*.o
*.mod
*.a
*.so
*.lo
.libs _libs
./so_locations
# log
*.log

# swap
*.swp

