*~
*#
.svn
# /
autom4te.cache*
config.status
Makefile
build_echam6.sh
blas/*.lo
blas/*libblas.la
blas/.libs
libtool
# /config/
config/config.*
*stamp-h*
config.*
.libs
table*
# /contrib/
contrib/generate-scripts/*thunder*

# /src/
src/*.mod
src/*.lst

# /experiments/
my_experiments/

# binaries
bin/*
lib
*.o
*.mod
*.a
*.so
*.lo
.libs _libs
*.la
*.am.old
*echam6
#./so_locations
# log
*.log
version.c
# swap
*.swp

RUNDIR/
compile_and_generate.sh
echam6.3-ham2.3-moz1.0/
PPE_Aerosol/
